body{
    color: black;
    font-size: 18px;
    padding:0px;
    background-color: rgb(228, 228, 228);
    margin:0;
    font-family:'Times New Roman', Times, serif;
}
.logo{
    
    max-width: 1500px;
    margin:0 auto;
    
}
.amazon-logo{
    display: block;
    width: 100%;
    margin: 0 0 12px 0;
    max-height: 270px;
    object-fit: cover;
    border-radius:15px;
}

a:link{
    color:grey;
}

a:hover{
    color:black;
}

img{
    height:200px;
}
.images{
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    gap: 20px;
    margin: 0 auto;
    max-width: 100%;
    align-items: flex-start

}
.sign-in,
.cart
.amazon-image {
  width: 180px;
  height: auto;
  border-radius: 12px;
  cursor: zoom-in;
  transition: transform 0.25s ease;
 
}
.sign-in:active,
.cart:active,
.amazon-image:active {
  transform: scale(1.7);
  cursor: zoom-out;
}
.questions{
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;        
  margin: 20px auto;
  max-width: 900px;
}

.hint {
    font-size: 0.85rem;   
    opacity: 0.8;        
    margin-bottom: 12px;
    text-align:center;
}
h1{
    background-color:rgb(255, 255, 255);
    border-radius:8px;
    margin:30px;
    text-align:center;
}

#form{
    border-radius:15px;
    border-style:ridge;
    border-color:black;
    padding:30px;
    margin-left:100px;
    margin-right:100px;
}

.form{
    background-color:rgb(255,255,255,0.4);
    padding:20px;
    border-radius:15px;
}


#signature-section{
    text-align:center;
    font-size:15px;
    padding:30px;
}

#example{
    background-color:rgb(255,255,255,0.4);
    border-radius:15px;
    border-style:ridge;
    border-color:black;
    padding:30px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:30px;
}

#submit-section{
    text-align:center;
}

#link-section{
    text-align:center;
}

button{
    font-size:30px;
    box-shadow:inset;
    font-family:'Times New Roman', Times, serif;
}
